.noback {
    background-color: transparent;
}

.noback:drop(active)
{
	border: blue;
	box-shadow: none;
}
.kanbancard {
    background-color: rgb(252, 228, 134);
}

.colorbl
{
    color: black;
}

.drop-target
{
    border-radius: 6px;
    background-color: rgba(252, 228, 134,0.75);
}

